// color
$yellow: #FFBF00;
$blue: #3D5CDB;
$gray: rgba(#BAD5F5,0.3);
$black: #333;
$white: #fff;

@font-face {
    font-family: 'Futura';
    src: url('/fonts/Futura-Med.ttf');
}
@font-face {
    font-family: 'FuturaLight';
    src: url('/fonts/Futura-Lig.ttf');
}

*{
    margin: 0;
    padding: 0;
}

@mixin button($color) {
    
    height: 16px;
    width: 170px;
    margin: 0 auto;
    border-radius: 12px;
    text-align: center;
    font-family: "Hiragino Kaku Gothic Pro W6";
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $color;
    color: $white;
    text-decoration: none;
    
    &:hover{
        box-shadow: 0 0 8px gray;
    }
}

ふわっとアニメーション
    .fuwatAnime {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
   }
   @-webkit-keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
   }
   @keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
   }
   
//top
.top-wrapper{
    width: 100vw;
    height: 797px;
    background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
    justify-content: center;
    position: relative;
    //header
    .header{
        position: absolute;
        top: 36px;
        right: 34px;
        float: right;
        li{
            font-family: 'Futura';
            font-size: 26px;
            list-style: none;
            float: right;
            margin-right: 32px;
        }
        a{
            text-decoration: none;
            color: $white;
            &:visited{
                color: $white;
            }
            &:hover{
                color:$blue;
            }
        }
    }
    img{
        width: 902px;
        height: 238px;
        position: absolute;
        top: 180px;
    }
    h2{
        font-family: 'Futura';
        font-weight: 3px;
        font-size: 45px;
        color: $white;
        position: absolute;
        top: 460px;
        
    }
}

h3{
    text-align: center;
    font-family: 'FutaraLig';
    font-size: 40px;
    color: $blue;
    margin-top: 55px;
}

//introduction
.introduction-wrapper{
    width: 100vw;
    height: 968px;
    .contents{
        width: 1040px;
        height: 760px;
        padding: 75px 0;
        margin: 0 auto;
        img{
            width: 500px;
            height: 333px;
        }
        .top{
            //height: 340px;
            margin-bottom: 90px;
            p{
            line-height: 32px;
            margin-bottom: 40px;
            letter-spacing: -0.8px;
            }       
            a{  
                display: block;
                @include button($blue);
                font-size: 18px;
                line-height: 78%;
                font-family: "Hiragino Kaku Gothic Pro W6";
                letter-spacing: 0.7px;
            }
        }
        .buttom{
            p{
            line-height: 31px;
            letter-spacing: -1.6px;
            margin-bottom: 40px;
            }
            a{
                display: block;
                @include button($yellow);
                font-size: 18px;
                line-height: 78%;
                font-family: "Hiragino Kaku Gothic Pro W6";
                letter-spacing: 0.7px;
            }
        }
        .sentence{
            width: 400px;
            font-family: "Hiragino Kaku Gothic Pro W3";
            font-size: 16px;
            
            color: $black;
            padding: 22px 68px;
        }
        .float-left{
            float: left;
        }
        
    }
}

//courses
.courses-wrapper{
    width: 100vw;
    height: 942px;
    position: relative;
    padding-top: 0.5px;
    #particles-js{
        width: 100%;
        height: 100%;
        background-color: #d5e5f8;
        z-index: -1;
        position: absolute;
        top: 0px;
    }
    .upside-contents{
        width: 1040px;
        margin: 0 auto;
        padding: 76px 0 30px;
        display: flex;
        flex-wrap: wrap;
        .upside{
            flex: 0 0 auto;
            margin: 0 10px;
        }
    }
    .downside-contents{
        width: 780px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        .downside{
            flex: 0 0 auto;
            margin: 0 10px;
        }
    }
    .course{
        width: 180px;
        height: 280px;
        padding: 30px;
        border-radius: 12px;
        background-color: $white;
        position: relative;
        display: inline-block;
        z-index: 2;
        img{
            width: 100px;
            height: auto;
            display: block;
            margin: 0 auto;
            //padding-bottom: 40px;
        }
        h4{ 
            
            font-family: "Hiragino Kaku Gothic Pro W6";
            font-size: 15px;
            color: $black;
            text-align: center;
            //margin-top: 40px;
            //margin-bottom: 15px;
        }
        a{
            display: block;
            font-weight: lighter;
            font-size: 13px;
            letter-spacing: 0px;
            position: absolute;
            bottom: 45px;
        }
    }
    .html {
        h4{
            margin-top: 25%;
        }
        a{
        @include button(#F1662A);
        margin-top: 20%;
        }
    }
    .css {
        h4{
            margin-top: 20%;
        }
        a{
        @include button(#29a9e0);
        margin-top: 10%;
        }
    }
    .unity {
        h4{
            margin-top: 35%;
        }
        a{
        @include button(#333);
        margin-top: 10%;
        }
        img{
            margin-top: 15%;
        }
    }
    .ruby {
        h4{
            margin-top: 40%;
        }
        a{
        @include button(#FE5252);
        margin-top: 10%;
        }
        img{
            margin-top: 10%;
        }
    }
    .javascriptCourse {
        h4{
            margin-top: 20%;
        }
        a{
        @include button(#FCD705);
        margin-top: 10%;
        }
    }
    .swift {
        h4{
            margin-top: 35%;
        }
        a{
        @include button(#FE7636);
        margin-top: 10%;
        }
        img{
            margin-top: 10%;
        }
    }
    .go {
        h4{
        margin-top: 30%;
        }
        a{
        @include button(#73CEDD);
        margin-top: 10%;
        }
        img{
        margin-top: 15%;
        }
    }
}

//images
.images-wrapper{
    width: 100vw;
    height: 450px;
    .slider{
        margin: 100px auto;
        width: 80%;
        img{
            height: auto;
            width: 100%;
        }
    }
   
    /*slick setting*/
    .slick-prev:before,
    .slick-next:before {
        color: #000;
    }
    
}

//access
.access-wrapper{
    width: 100vw;
    height: 568px;
    h3{
        margin-bottom: 57px;
    }
    .map{
        width: 600px;
        height: 400px;
        margin: 0 auto;
    }
}
//footer
footer{
    font-family: 'Futura';
    font-size: 18px;
    text-align: center;
    color: $blue;
    padding: 20px 0;
}

@media screen and (max-width:480px){
    /* ここにスマホ版のCSSを書いていくよ */

    //トップ
    .top-wrapper{
        width: 100vw;
        height: 100vh;
        //background-position:center center;
        //background-size: cover;
        //background-repeat: no-repeat;
        //display: flex;
        //align-items: center;
        //justify-content: center;
        position: relative;
        //header
        .header{
        position: absolute;
        top: 36px;
        right: 34px;
        float: right;
            nav{
                display: none;
            }
            
        }
    img{
        width: 70%;
        height: auto;
        position: absolute;
        top: 40%;
    }
    h2{
        font-family: 'Futura';
        font-weight: 1px;
        font-size: 20px;
        color: $white;
        position: absolute;
        top: 55%; 
    }     
  }
    h3{
        text-align: center;
        font-family: 'FutaraLig';
        font-size: 30px;
        color: $blue;
        margin-top: 55px;
    }

    //introduction
    .introduction-wrapper{
        width: 100vw;
        height: 200vh;
        .contents{
            width: 90%;
            //height: 760px;
            //padding: 75px 0;
            margin: 0 auto;
            clear: left;
            .float-left{
                float: none;
            }
            img{
                width: 100%;
                height: auto;
                margin-bottom: 10%;
            }
            .top{
                width: 100%;
                //overflow: hidden;
                //margin-bottom: 90px;
                .sentence{
                    width: 80%;
                    margin: 0 auto;
                    font-family: "Hiragino Kaku Gothic Pro W3";
                    font-size: 15px;
                    color: $black;
                    padding:0px;
                }
                p{
                line-height: 20px;
                //margin-bottom: 40px;
                letter-spacing: -0.8px;
                }       
                a{  
                    display: block;
                    @include button($blue);
                    font-size: 20px;
                    line-height: 78%;
                    font-family: "Hiragino Kaku Gothic Pro W6";
                    letter-spacing: 0.7px;
                }
            }
            .buttom{
                display: flex;
                flex-direction: column;
                .image{
                    order: 1;
                }
                .sentence{
                    order:2;
                    width: 80%;
                    margin: 0 auto;
                    font-family: "Hiragino Kaku Gothic Pro W3";
                    font-size: 16px;
                    color: $black;
                    padding:0px;
                    
                    p{
                        line-height: 20px;
                        letter-spacing: -1.6px;
                        margin-bottom: 40px;
                    }
                        a{
                            display: block;
                            @include button($yellow);
                            font-size: 18px;
                            line-height: 78%;
                            font-family: "Hiragino Kaku Gothic Pro W6";
                            letter-spacing: 0.7px;
                        } 
                }
                
            }            
        }
    }

    .courses-wrapper{
        width: 100vw;
        height: 220vh;
        margin: 0 auto;
        position: relative;
        padding-top: 0.5px;
        #particles-js{
            width: 100%;
            height: 100%;
            background-color: #d5e5f8;
            z-index: -1;
            position: absolute;
            top: 0px;
        }
        .flexbox-margin{
            margin-top: 10%;
        }
        .upside-contents{
            width: 100%;
            margin: 0 auto;
            padding: 10% 0 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .upside{
                flex-wrap: wrap;
                flex: 0 0 auto;
                margin: 0 10px;
            }
        }
        .downside-contents{
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .downside{
                flex: 0 0 auto;
                margin: 0 10px;
                ::before {
                    display: block;
                    padding-bottom: 10%;
                    content: '';
                }
            }
           
        }
        .course{
            width: 25vw;
            height: 35vh;
            padding: 30px;
            border-radius: 12px;
            background-color: $white;
            position: relative;
            display: inline-block;
            z-index: 2;
            margin-bottom: 10%;
            img{
                width: 70%;
                height: auto;
                display: block;
                margin: 0 auto;
                //padding-bottom: 40px;
            }
            h4{ 
                font-family: "Hiragino Kaku Gothic Pro W6";
                font-size: 15px;
                color: $black;
                text-align: center;
                //margin-top: 40px;
                //margin-bottom: 15px;
            }
            a{
                display: block;
                width: 70%;
                font-weight: lighter;
                font-size: 50%;
                letter-spacing: 0px;
                position: absolute;
                bottom: 45px;
            }
        }
        
    }

    //access
    .access-wrapper{
        width: 100vw;
        height: 70vh;
        .map {
            position: relative;
            width: 100%;
            padding-top: 10%;
            overflow:auto; 
            -webkit-overflow-scrolling:touch;
            iframe {
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:70%;
                border:none;
                display:block;
            }
        }
    }
      
}