@charset "UTF-8";
@font-face {
  font-family: 'Futura';
  src: url("/fonts/Futura-Med.ttf");
}

@font-face {
  font-family: 'FuturaLight';
  src: url("/fonts/Futura-Lig.ttf");
}

* {
  margin: 0;
  padding: 0;
}

ふわっとアニメーション
.fuwatAnime {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: fuwatAnime;
  animation-name: fuwatAnime;
  visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fuwatAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.top-wrapper {
  width: 100vw;
  height: 797px;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.top-wrapper .header {
  position: absolute;
  top: 36px;
  right: 34px;
  float: right;
}

.top-wrapper .header li {
  font-family: 'Futura';
  font-size: 26px;
  list-style: none;
  float: right;
  margin-right: 32px;
}

.top-wrapper .header a {
  text-decoration: none;
  color: #fff;
}

.top-wrapper .header a:visited {
  color: #fff;
}

.top-wrapper .header a:hover {
  color: #3D5CDB;
}

.top-wrapper img {
  width: 902px;
  height: 238px;
  position: absolute;
  top: 180px;
}

.top-wrapper h2 {
  font-family: 'Futura';
  font-weight: 3px;
  font-size: 45px;
  color: #fff;
  position: absolute;
  top: 460px;
}

h3 {
  text-align: center;
  font-family: 'FutaraLig';
  font-size: 40px;
  color: #3D5CDB;
  margin-top: 55px;
}

.introduction-wrapper {
  width: 100vw;
  height: 968px;
}

.introduction-wrapper .contents {
  width: 1040px;
  height: 760px;
  padding: 75px 0;
  margin: 0 auto;
}

.introduction-wrapper .contents img {
  width: 500px;
  height: 333px;
}

.introduction-wrapper .contents .top {
  margin-bottom: 90px;
}

.introduction-wrapper .contents .top p {
  line-height: 32px;
  margin-bottom: 40px;
  letter-spacing: -0.8px;
}

.introduction-wrapper .contents .top a {
  display: block;
  height: 16px;
  width: 170px;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
  font-family: "Hiragino Kaku Gothic Pro W6";
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #3D5CDB;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 78%;
  font-family: "Hiragino Kaku Gothic Pro W6";
  letter-spacing: 0.7px;
}

.introduction-wrapper .contents .top a:hover {
  -webkit-box-shadow: 0 0 8px gray;
          box-shadow: 0 0 8px gray;
}

.introduction-wrapper .contents .buttom p {
  line-height: 31px;
  letter-spacing: -1.6px;
  margin-bottom: 40px;
}

.introduction-wrapper .contents .buttom a {
  display: block;
  height: 16px;
  width: 170px;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
  font-family: "Hiragino Kaku Gothic Pro W6";
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FFBF00;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 78%;
  font-family: "Hiragino Kaku Gothic Pro W6";
  letter-spacing: 0.7px;
}

.introduction-wrapper .contents .buttom a:hover {
  -webkit-box-shadow: 0 0 8px gray;
          box-shadow: 0 0 8px gray;
}

.introduction-wrapper .contents .sentence {
  width: 400px;
  font-family: "Hiragino Kaku Gothic Pro W3";
  font-size: 16px;
  color: #333;
  padding: 22px 68px;
}

.introduction-wrapper .contents .float-left {
  float: left;
}

.courses-wrapper {
  width: 100vw;
  height: 942px;
  position: relative;
  padding-top: 0.5px;
}

.courses-wrapper #particles-js {
  width: 100%;
  height: 100%;
  background-color: #d5e5f8;
  z-index: -1;
  position: absolute;
  top: 0px;
}

.courses-wrapper .upside-contents {
  width: 1040px;
  margin: 0 auto;
  padding: 76px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.courses-wrapper .upside-contents .upside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 10px;
}

.courses-wrapper .downside-contents {
  width: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.courses-wrapper .downside-contents .downside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 10px;
}

.courses-wrapper .course {
  width: 180px;
  height: 280px;
  padding: 30px;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
  display: inline-block;
  z-index: 2;
}

.courses-wrapper .course img {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.courses-wrapper .course h4 {
  font-family: "Hiragino Kaku Gothic Pro W6";
  font-size: 15px;
  color: #333;
  text-align: center;
}

.courses-wrapper .course a {
  display: block;
  font-weight: lighter;
  font-size: 13px;
  letter-spacing: 0px;
  position: absolute;
  bottom: 45px;
}

.courses-wrapper .html h4 {
  margin-top: 25%;
}

.courses-wrapper .html a {
  height: 16px;
  width: 170px;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
  font-family: "Hiragino Kaku Gothic Pro W6";
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #F1662A;
  color: #fff;
  text-decoration: none;
  margin-top: 20%;
}

.courses-wrapper .html a:hover {
  -webkit-box-shadow: 0 0 8px gray;
          box-shadow: 0 0 8px gray;
}

.courses-wrapper .css h4 {
  margin-top: 20%;
}

.courses-wrapper .css a {
  height: 16px;
  width: 170px;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
  font-family: "Hiragino Kaku Gothic Pro W6";
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #29a9e0;
  color: #fff;
  text-decoration: none;
  margin-top: 10%;
}

.courses-wrapper .css a:hover {
  -webkit-box-shadow: 0 0 8px gray;
          box-shadow: 0 0 8px gray;
}

.courses-wrapper .unity h4 {
  margin-top: 35%;
}

.courses-wrapper .unity a {
  height: 16px;
  width: 170px;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
  font-family: "Hiragino Kaku Gothic Pro W6";
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  margin-top: 10%;
}

.courses-wrapper .unity a:hover {
  -webkit-box-shadow: 0 0 8px gray;
          box-shadow: 0 0 8px gray;
}

.courses-wrapper .unity img {
  margin-top: 15%;
}

.courses-wrapper .ruby h4 {
  margin-top: 40%;
}

.courses-wrapper .ruby a {
  height: 16px;
  width: 170px;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
  font-family: "Hiragino Kaku Gothic Pro W6";
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FE5252;
  color: #fff;
  text-decoration: none;
  margin-top: 10%;
}

.courses-wrapper .ruby a:hover {
  -webkit-box-shadow: 0 0 8px gray;
          box-shadow: 0 0 8px gray;
}

.courses-wrapper .ruby img {
  margin-top: 10%;
}

.courses-wrapper .javascriptCourse h4 {
  margin-top: 20%;
}

.courses-wrapper .javascriptCourse a {
  height: 16px;
  width: 170px;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
  font-family: "Hiragino Kaku Gothic Pro W6";
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FCD705;
  color: #fff;
  text-decoration: none;
  margin-top: 10%;
}

.courses-wrapper .javascriptCourse a:hover {
  -webkit-box-shadow: 0 0 8px gray;
          box-shadow: 0 0 8px gray;
}

.courses-wrapper .swift h4 {
  margin-top: 35%;
}

.courses-wrapper .swift a {
  height: 16px;
  width: 170px;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
  font-family: "Hiragino Kaku Gothic Pro W6";
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FE7636;
  color: #fff;
  text-decoration: none;
  margin-top: 10%;
}

.courses-wrapper .swift a:hover {
  -webkit-box-shadow: 0 0 8px gray;
          box-shadow: 0 0 8px gray;
}

.courses-wrapper .swift img {
  margin-top: 10%;
}

.courses-wrapper .go h4 {
  margin-top: 30%;
}

.courses-wrapper .go a {
  height: 16px;
  width: 170px;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
  font-family: "Hiragino Kaku Gothic Pro W6";
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #73CEDD;
  color: #fff;
  text-decoration: none;
  margin-top: 10%;
}

.courses-wrapper .go a:hover {
  -webkit-box-shadow: 0 0 8px gray;
          box-shadow: 0 0 8px gray;
}

.courses-wrapper .go img {
  margin-top: 15%;
}

.images-wrapper {
  width: 100vw;
  height: 450px;
  /*slick setting*/
}

.images-wrapper .slider {
  margin: 100px auto;
  width: 80%;
}

.images-wrapper .slider img {
  height: auto;
  width: 100%;
}

.images-wrapper .slick-prev:before,
.images-wrapper .slick-next:before {
  color: #000;
}

.access-wrapper {
  width: 100vw;
  height: 568px;
}

.access-wrapper h3 {
  margin-bottom: 57px;
}

.access-wrapper .map {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

footer {
  font-family: 'Futura';
  font-size: 18px;
  text-align: center;
  color: #3D5CDB;
  padding: 20px 0;
}

@media screen and (max-width: 480px) {
  /* ここにスマホ版のCSSを書いていくよ */
  .top-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .top-wrapper .header {
    position: absolute;
    top: 36px;
    right: 34px;
    float: right;
  }
  .top-wrapper .header nav {
    display: none;
  }
  .top-wrapper img {
    width: 70%;
    height: auto;
    position: absolute;
    top: 40%;
  }
  .top-wrapper h2 {
    font-family: 'Futura';
    font-weight: 1px;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 55%;
  }
  h3 {
    text-align: center;
    font-family: 'FutaraLig';
    font-size: 30px;
    color: #3D5CDB;
    margin-top: 55px;
  }
  .introduction-wrapper {
    width: 100vw;
    height: 200vh;
  }
  .introduction-wrapper .contents {
    width: 90%;
    margin: 0 auto;
    clear: left;
  }
  .introduction-wrapper .contents .float-left {
    float: none;
  }
  .introduction-wrapper .contents img {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
  }
  .introduction-wrapper .contents .top {
    width: 100%;
  }
  .introduction-wrapper .contents .top .sentence {
    width: 80%;
    margin: 0 auto;
    font-family: "Hiragino Kaku Gothic Pro W3";
    font-size: 15px;
    color: #333;
    padding: 0px;
  }
  .introduction-wrapper .contents .top p {
    line-height: 20px;
    letter-spacing: -0.8px;
  }
  .introduction-wrapper .contents .top a {
    display: block;
    height: 16px;
    width: 170px;
    margin: 0 auto;
    border-radius: 12px;
    text-align: center;
    font-family: "Hiragino Kaku Gothic Pro W6";
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #3D5CDB;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    line-height: 78%;
    font-family: "Hiragino Kaku Gothic Pro W6";
    letter-spacing: 0.7px;
  }
  .introduction-wrapper .contents .top a:hover {
    -webkit-box-shadow: 0 0 8px gray;
            box-shadow: 0 0 8px gray;
  }
  .introduction-wrapper .contents .buttom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introduction-wrapper .contents .buttom .image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .introduction-wrapper .contents .buttom .sentence {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 80%;
    margin: 0 auto;
    font-family: "Hiragino Kaku Gothic Pro W3";
    font-size: 16px;
    color: #333;
    padding: 0px;
  }
  .introduction-wrapper .contents .buttom .sentence p {
    line-height: 20px;
    letter-spacing: -1.6px;
    margin-bottom: 40px;
  }
  .introduction-wrapper .contents .buttom .sentence a {
    display: block;
    height: 16px;
    width: 170px;
    margin: 0 auto;
    border-radius: 12px;
    text-align: center;
    font-family: "Hiragino Kaku Gothic Pro W6";
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #FFBF00;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 78%;
    font-family: "Hiragino Kaku Gothic Pro W6";
    letter-spacing: 0.7px;
  }
  .introduction-wrapper .contents .buttom .sentence a:hover {
    -webkit-box-shadow: 0 0 8px gray;
            box-shadow: 0 0 8px gray;
  }
  .courses-wrapper {
    width: 100vw;
    height: 220vh;
    margin: 0 auto;
    position: relative;
    padding-top: 0.5px;
  }
  .courses-wrapper #particles-js {
    width: 100%;
    height: 100%;
    background-color: #d5e5f8;
    z-index: -1;
    position: absolute;
    top: 0px;
  }
  .courses-wrapper .flexbox-margin {
    margin-top: 10%;
  }
  .courses-wrapper .upside-contents {
    width: 100%;
    margin: 0 auto;
    padding: 10% 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .courses-wrapper .upside-contents .upside {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0 10px;
  }
  .courses-wrapper .downside-contents {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .courses-wrapper .downside-contents .downside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0 10px;
  }
  .courses-wrapper .downside-contents .downside ::before {
    display: block;
    padding-bottom: 10%;
    content: '';
  }
  .courses-wrapper .course {
    width: 25vw;
    height: 35vh;
    padding: 30px;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    z-index: 2;
    margin-bottom: 10%;
  }
  .courses-wrapper .course img {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .courses-wrapper .course h4 {
    font-family: "Hiragino Kaku Gothic Pro W6";
    font-size: 15px;
    color: #333;
    text-align: center;
  }
  .courses-wrapper .course a {
    display: block;
    width: 70%;
    font-weight: lighter;
    font-size: 50%;
    letter-spacing: 0px;
    position: absolute;
    bottom: 45px;
  }
  .access-wrapper {
    width: 100vw;
    height: 70vh;
  }
  .access-wrapper .map {
    position: relative;
    width: 100%;
    padding-top: 10%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .access-wrapper .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    border: none;
    display: block;
  }
}
/*# sourceMappingURL=stylesheet.css.map */